table,th,td{
	border-bottom: 1px solid gainsboro;
    border-collapse: collapse;
    margin-top:1%;
    width:550px;
    padding:15px;
    text-align: center;
     
}
td{
	
padding-left:30px;
}

h1{
   position:relative;
    margin-top:2%;
    padding:10px;
}
tr:nth-child(1) {
    background-color: rgb(133, 132, 214);
    color: #fff;
  }

.box {
      top:2%;
      border : 1px solid rgb(204, 197, 197);
      height:400px;
      width:97%;
      margin:20px;
      padding:20px;
  }
  