.form-inline {  
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }
  
  .form-inline label {
    margin: 5px 5px 5px 150px;
    
  }
  
  .form-inline input {
	vertical-align: middle;
	margin: 5px 10px 5px 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ddd;
  }
  
  .form-inline button {
    margin: 0 0 0 50px;
	padding: 6px 20px;
	background-color: dodgerblue;
	border: 1px solid #ddd;
	color: white;
	cursor: pointer;
  }
  
  .form-inline button:hover {
	background-color: #4CAF50;
  }

  